:root {
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.form {
    margin: 50px;
}

.contact {
    background-color: #BD1E51;
    padding-bottom: 500px;
}
  
.form input {
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.form-header {
    font-size: 54px;
    color: white;
    padding-top: 5%;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.container {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}